$fs: "Montserrat", arial, sans-serif;
$bg-color: #508484;

.App {
  position: relative;
  top: 200px;
  text-align: center;
  width: 100%;
  font-family: $fs;
  letter-spacing: 3px;
}

.parallax {
  position: relative;
  bottom: 105px;
}

.parallax-2 {
  position: relative;
  top: 0px;
}

body {
  margin: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro h1 {
  position: relative;
  top:40px;
  margin-top: 7.5%;
  font-weight: 100;
  letter-spacing: 5px;
  color: black;
}

.footer-copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #222222;
  color: white;
  height: 80px;
}

.container {
  position: absolute;
  margin-left: 75%;
  bottom: 0;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 280px; /* height of your footer */
}

.copyright-name {
  color: white;
}
