.App {
  position: relative;
  top: 200px;
  text-align: center;
  width: 100%;
  font-family: "Montserrat", arial, sans-serif;
  letter-spacing: 3px; }

.parallax {
  position: relative;
  bottom: 90px; }

.parallax-2 {
  position: relative;
  top: 0px; }

body {
  margin: 0; }

.App-title {
  font-size: 1.5em; }

.App-intro h1 {
  position: relative;
  margin-top: 100px;
  font-weight: 100;
  letter-spacing: 5px;
  color: grey; }

.footer-copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #508484;
  height: 50px; }

.main-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 400px;
  /* height of your footer */ }
