.food-results-container {
  width: 50%;
  display: inline-block;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#food-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.food-idx-item {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin:1em;
  margin-top: 2em;

}

hr {
  width: 70%;
}