.food-search-container {
  width: 100%;
  display: inline-block;
  text-align: center;
  top: -90px; }

.food-search-container h1 {
  letter-spacing: 20px; }

.food-search-container h3 {
  letter-spacing: 5px;
  font-weight: 100; }

.food-search-container input {
  width: 50%;
  border: black;
  border-style: solid; }

.food-search-container #submit-button {
  color: white;
  width: 5%;
  background-color: #7C7C7C; }
