.food-results-container {
  width: 50%;
  display: inline-block;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%; }

#food-results {
  display: grid;
  grid-template-columns: 33% 33% 33%; }

.food-idx-item {
  margin: 1em;
  margin-top: 2em; }

.profile-add {
  margin-right: 3em; }

hr {
  width: 70%; }
