$tc: #006989;
$tc2: #136f63;
$ff: "Crimson Text", serif;
$fs: 14px;
$fs2: 20px;


.header {
  border: black;
  border-style: solid;
  text-align: left;
  height: 100px;
  width: 100%;
}

.header a {
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  color: $tc2;
}

.signup-nav {
  text-align: right;
  padding-bottom: 5px;
  position: relative;
}

.signup-nav a {
  padding-right: 20px;
  text-decoration: none;
  color: $tc2;
  font-family: $ff;
  font-size: $fs;
}

.nav-list a {
  font-size: $fs;
}

.nav-list a:hover {
  color: $tc;
  font-weight: bold;
}

.signup-nav a {
  position: relative;
  z-index: 100;
}
