.header {
  background-color: #222;
  position: fixed;
  top: 0px;
  overflow: hidden;
  border: black;
  border-style: solid;
  text-align: right;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: white; }

.header a {
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  color: #136f63; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.header-logo {
  float: left;
  padding-left: 20px; }

.signup-nav {
  text-align: right;
  padding-bottom: 5px;
  position: relative;
  font-size: 9.7px; }

.signup-nav a {
  text-decoration: none;
  color: #136f63;
  font-family: "Crimson Text", serif;
  font-size: 14px; }

.nav-list a {
  font-size: 18.9px;
  margin-right: 20px; }

.nav-list a:hover {
  color: #006989;
  font-weight: bold; }

.signup-nav a {
  position: relative;
  z-index: 100; }

@media only screen and (max-width: 835px) {
  .header-logo,
  #loginForm {
    float: none; }
  .header-logo {
    padding-left: 0; }
  #loginForm {
    padding-right: 0; }
  .header-logo,
  #loginForm,
  .signup-nav,
  .message {
    text-align: center; } }
