$tc: #006989;
$tc2: #136f63;
$ff: "Crimson Text", serif;
$fs: 14px;
$fs2: 20px;

.header {
  background-color: #222;
  position: fixed;
  top: 0px;
  overflow: hidden;
  border: black;
  border-style: solid;
  text-align: right;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: white;
}

.header a {
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  color: $tc2;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.header-logo {
  float: left;
  padding-left: 20px;
}

.signup-nav {
  text-align: right;
  padding-bottom: 5px;
  position: relative;
  font-size: 9.7px;
}

.signup-nav a {
  text-decoration: none;
  color: $tc2;
  font-family: $ff;
  font-size: $fs;
}

.nav-list a {
  font-size: $fs;
  margin-right: 20px;
}

.nav-list a:hover {
  color: $tc;
  font-weight: bold;
}

.signup-nav a {
  position: relative;
  z-index: 100;
}

@media only screen and (max-width: 835px)  {
  .header-logo,
  #loginForm {
    float: none;
  }
  .header-logo {
    padding-left: 0;
  }
  #loginForm {
    padding-right: 0;
  }
  .header-logo,
  #loginForm,
  .signup-nav,
  .message {
    text-align: center;
  }
}
