.profile-container {
  text-align: center;
  background-size: cover;
  height: 1600px; }

#chart {
  background-color: #f5f2eb;
  border: 1px solid #ccc; }

.graphContainer {
  border: "1px solid black";
  padding: "15px";
  width: 85%;
  height: 85%;
  display: inline-block;
  text-align: center;
  margin-bottom: -45%;
  margin-top: 3%; }
